$extrasmallmobile: 'only screen and (max-width: 320px)';
$mobile: 'only screen and (max-width: 450px)';
$downtomobile: 'only screen and (min-width: 481px)';
$tablet: 'only screen and (max-width: 768px)';
$uptotablet: 'only screen and (max-width: 768px)';
$downtotablet: 'only screen and (min-width: 768px)';
$downdesktop: 'only screen and (min-width: 1100px)';
$desktop: 'only screen and (max-width: 1100px)';

$md-screen: 'only screen and (max-width: 1200px)';
$sm-screen: 'only screen and (max-width: 991px)';
$lg-screen: 'only screen and (min-width: 992px)';
