@import '../../scss-constants/main.scss';

.header {
    @include maxWidthContainer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}

.container {
    display: flex;
    align-items: center;
}

.link {
    margin: 0 10px;
}

.activeLink {
    background: red;
}